body{
    overflow-x: hidden;
}

.navbt{
    background-color: #f37354;
    border-radius: 25px;
}

.banner-image img{
    filter: brightness(0.3);
}

.banner-image h1{
    font-size: calc(6.375rem + 1.5vw);
}



section.description{
    height: 1000px;
}
.bot{
    margin-bottom: 250px;
}
main{
    background: black;
}


#scrolling{
    font-weight: 700;
    color: rgb(136, 140, 142);
    text-align: center;
}




main{
    background: black;
}

.bd{
    
    background:  url(./image/d-j-dance-disc-disco-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;

   

    
    
    
    
    
}
.db{
    display: hidden;
}

#cewd{
    display: inline-block;
    position: relative;
    animation-name: anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    left: -50%;
}
@keyframes anim {
    0%{
        left: -50%;
    }
    50%{
        left: 50%;
        
    }
    
    
    100%{
        left: -50%;
    }
    
}






main section p.pp{
    color: rgb(88, 85, 85);
    font-size: 60px;
    margin-bottom: 30px;
    position: relative;
    bottom: 0px;
    top: 60%;

}



footer{
    margin-top: 700px;
}

footer>section>img{
    filter: brightness(0.4);
    

}
#drop{
    background-color: rgb(81, 81, 81);
}

.navbar-toggler-icon{
    background-color: rgb(71, 70, 70);
    border: 1px solid rgb(61, 62, 61);
    
}

/* mobile device */
@media screen and (max-width:576px) {
    
   #cewd{
    font-size: 8.85vw;
    margin-top: 6vw;
   }
   main section p.pp{
    font-size: 6.25vw;
   }

    
}


@media screen and (min-width:577px) and (max-width: 768px) {
    .banner-image h1 {
        font-size: calc(3.7rem + 1.5vw);
    }
    main section p.pp {
        color: rgb(88, 85, 85);
        font-size: 33px;
        margin-bottom: 30px;
        position: relative;
        bottom: 0px;
        top: 60%;
    }
    
}

@media screen and (min-width:769px) and (max-width: 992px) {
    main section p.pp {
        color: rgb(88, 85, 85);
        font-size: 55px;
        margin-bottom: 30px;
        position: relative;
        bottom: 0px;
        top: 33%;
    }
    #cewd{
        animation-duration: 3s;
    }
    @keyframes anim {
        0%{
            left: -40%;
        }
        50%{
            left: 40%;
            
        }
        
        
        100%{
            left: -40%;
        }
        
    }
    
}

@media screen and (min-width:993px) and (max-width: 1200px) {
    #cewd{
        animation-duration: 4s;
    }
    main section p.pp {
        color: rgb(88, 85, 85);
        font-size: 65px;
        margin-bottom: 30px;
        position: relative;
        bottom: 0px;
        top: 21%;
    }
    @keyframes anim {
        0%{
            left: -45%;
        }
        50%{
            left: 45%;
            
        }
        
        
        100%{
            left: -45%;
        }
        
    }
    
}


@media screen and (min-width:1201px) and (max-width:1400) {
    main section p.pp {
        color: rgb(88, 85, 85);
        font-size: 70px;
        margin-bottom: 30px;
        position: relative;
        bottom: 0px;
        top: 30%;
    }
    @keyframes anim {
        0%{
            left: -35%;
        }
        50%{
            left: 35%;
            
        }
        
        
        100%{
            left: -35%;
        }
        
    }
    
}
